{% include "customer_head.html" %}
{% for booking in bookings %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-5">
            <div class="card p-3 mt-5">
                <div class="mt-3">
                    <label>Total Amount:</label>
                    <div class="form-label">$  {{booking[6]}}</div>
                </div>
                {% if booking[10] != None %}
                {% set coupons = get_coupon_by_coupons_id(booking[10])%}
                <div class="mt-3">
                    <label>Discount:</label>
                    <div class="form-label">{{coupons[4]}}%</div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <label>Payable Amount:</label>
                        <div class="form-label">$  {{payable_amount}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <a href="payment?payable_amount={{payable_amount}}&booking_id={{booking[0]}}" class="btn btn-primary w-100">Pay Amount</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endfor %}
