
    <div class="container-fluid">
        <div class="row">
            {% for event in events %}
            {% set event_host = get_event_host_by_event_host_id(event[8]) %}
            {% set rating = get_avg_rating_by_event_id(event[0]) %}
            <div class="col-md-3 mt-5">
                <div class="event p-3 mt-5">
                    <div class="card-image-top text-center"><img src="../static/event/{{event[1]}}" style="max-width:100%;height:200px;"></div>
                    <div class="text-center"><b>{{event[2]}}</b></div>
                    <div><b>Event Date:</b>{{event[3]}}</div>
                    <div><b>Total Seats:</b>{{event[12]}} </div>
                    <div><b>Host:</b>{{event_host[1]}}</div>
                    {% if session['role'] == 'customer' %}
                        {% if btn_selected == 'today' or btn_selected == 'future' %}
                            <a href="book_event?event_id={{event[0]}}" class="btn btn-primary" >Book Ticket</a>
                        {% endif %}
                    {% elif session['role'] == 'event_host' %}
                        <b>Average rating:</b>{{rating[0]}}
                        <div class="row">
                            <div class="col-md-6">
                                 <a class="btn btn-primary mt-5" href="bookings?event_id={{event[0]}}">View Bookings</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-info mt-5" href="view_review_rating?event_id={{event[0]}}">Reviews</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

